.DS_Store

# Vagrant stuff
.vagrant

# IDE and texteditor settings
**/.idea
*.sublime-*

# Python stuff
bin
include
lib
.Python
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.pyc
pip-selfcheck.json

# Source archives
src

# Build artifacts
*.bin
last_session
vmlinux
vmlinux.bin
